/* .titlebar {
  width: 100%;
  text-align: center;
  margin-bottom: 25px;
} */

body {
  background-image: url(https://hdwallsbox.com/wallpapers/l/1920x1080/78/desert-background-1920x1080-77095.jpg)
}